 <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Franco PetShop</title>
   <!-- CSS only -->
   <link rel="stylesheet" href="./styles/main.css">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

 </head>

 <body class="background">
   <div id="app">
     <header>

       <div class="px-3 py-2 bg-white text-white">
         <div class="container">
           <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
             <section>
               <a href="./index.html"><img src="./assets/logo.png" class="logo" alt="franco-Logo"></a>
             </section>
             <section>
               <h1 class="text-black">
                 FRANCO
                 <small class="text-muted">Pet Shop</small>
               </h1>
             </section>
             <a href="#" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
               <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                 <use xlink:href="#bootstrap" />
               </svg>
             </a>
             <nav class="navbar navbar-expand navbar-light fw-bolder">
               <div class="container-fluid">
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                   aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="navbar-nav">
                     <li class="nav-item mx-2">
                       <a class="nav-link" href="index.html">Home</a>
                     </li>
                     <li class="nav-item mx-2">
                       <a class="nav-link" href="farmacia.html">Farmacia</a>
                     </li>
                     <li class="nav-item mx-2">
                       <a class="nav-link active" aria-current="page" href="juguetes.html">Juguetes</a>
                     </li>
                     <li class="nav-item mx-2">
                       <a class="nav-link" href="contacto.html">Contacto</a>
                     </li>
                   </ul>
                   <div class="dropdown">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                       carrito:
                       <div class="dropdown-iten">
                         <p>producto : {{cantidaddecarrito}}</p>
                         <p>total : {{totaldecarrito}}</p>
                       </div>
                     </button>
                     <div class="dropdown-menu">
                       <div v-for="producto in cosasdecompra">
                         <p class="dropdown-item">{{producto.name}}</p>
                         <p class="dropdown-item">cant:{{producto.cant}}</p>
                         <p class="dropdown-item">precio:{{producto.precio}}</p>
                         <span class="btn" @click="eliminarmedicina(producto)">X</span>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </nav>
           </div>
         </div>
       </div>
     </header>
     <main class="d-flex flex-column justify-content-evenly mb-5">
       <div class="tienda-title col-10">
         <h2>🐱¡Es hora de Jugar!🐶</h2>
         <p>Tenemos alianzas con diferentes empresas latinas. Estas alianzas nos permiten importar una gran calidad de
           juguetes para tu engreido.</p>
       </div>
       <div class="d-flex flex-row flex-wrap justify-content-around">
         <div v-for="producto in juguetes"
           class="d-flex flex-column col-3 rounded justify-content-between tienda_container m-3 col-10 col-md-5 col-lg-4 col-xl-3 col-xxl-2">
           <img :src="producto.imagen" class="img-fluid pt-3 px-3" alt="imagen demostrativa">
           <h3 class="px-3">{{producto.nombre}}</h3>
           <p class="px-3">{{producto.descripcion}}</p>
           <p class="px-3">Precio: ${{producto.precio}}</p>
           <div class="d-flex flex-row">
             <p class="px-3">Stock: {{producto.stock}}</p>
             <p v-if="producto.stock > 5"></p>
             <p class="bg-danger px-2 rounded fw-bold" v-else>¡Últimas unidades!</p>
           </div>
           <button v-if="producto.stock > 0" class="btn btn-primary mb-3 mx-3" @click="addcarrito(producto)">Agregar al
             carrito</button>
           <button v-else class="btn btn-danger mb-3" disabled>¡Sin stock!</button>
         </div>
       </div>
   </div>
   </main>
   <div class="footer-color">
     <footer class="pt-5 pb-2">
       <div class="row">
         <div>
           <form>
             <h5>Suscribete a nuestro newsletter</h5>
             <p>Te enviamos noticias mensuales de ofertas, campañas y más</p>
             <div class="d-flex w-100">
               <label for="newsletter1" class="visually-hidden">Email</label>
               <input id="newsletter1" type="text" class="form-control me-2" placeholder="Email address">
               <button class="btn btn-dark" type="button">Subscribe</button>
             </div>
           </form>
         </div>
       </div>

       <div class="d-flex justify-content-between pt-4 mt-4 border-top">
         <p>FRANCO, Pet Shop 2021 | Todos los derechos Reservados</p>
         <ul class="redes">
           <i class="bi bi-twitter px-2"></i>
           <!--LES DI UN POCO DE PADDING A LOS BOTONES (EZE)-->
           <i class="bi bi-instagram px-2"></i>
           <!--LES DI UN POCO DE PADDING A LOS BOTONES (EZE)-->
           <i class="bi bi-facebook px-2"></i>
           <!--LES DI UN POCO DE PADDING A LOS BOTONES (EZE)-->
         </ul>
       </div>
     </footer>
   </div>
   <script src="https://unpkg.com/vue@next"></script>
   <script src="./data/app.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
   </script>
 </body>

 </html>