.logo{
    width: 5rem;
}

.map{
    padding: 3%;
    text-align: center;
}

.about-section{
    display: flex;
    padding-top: 5%;
}
.about-us{
    text-align: left;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 5%;
    margin-left: 5%;
    background-color:beige;
}

.franco{
    width: 30%;
    margin-right: 5%;
}

.background{
    background-image: url("../assets/background.jpg")
}