.logo{
    width: 5rem;
}

.map{
    padding: 3%;
    text-align: center;
}

.about-section{
    display: flex;
    padding-top: 5%;
}
.about-us{
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.franco{
    width: 100%;
}